{% extends 'base.html.twig' %}

{% block page_title %}
    TimePills | Inscription
{% endblock %}

{% block cssSupplementaire %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/inscription.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/formulaires.css') }}">
{% endblock %}

{% block jsSupplementaire %}
    <script type="text/javascript" src="{{ asset('js/inscription.js') }}" defer></script>
{% endblock %}


{% block page_content %}
    <div class="onglet1">
        <h1>Inscription</h1>
    </div>

    <div class="wrapTop">
        <img class="illu" src="{{ asset('img/inscriptionIllu.png') }}" alt="">

        <div>
            <h2>Rejoignez <span class="redText">TimePills</span>, et n'oubliez plus vos traitements !
            </h2>
            <h4 class="light">Créez votre compte et créez vos alertes et vos calendriers.</h4>
            <h4 class="light">N'oubliez plus vos <span class="redText">pilules</span> à prendre et vos <span
                        class="redText">médicaments</span> !</h4>
            <h4 class="light">Recevez des <span class="redText">notifications</span> sur tous vos appareils pour ne plus rien oublier.<span class="redText">TimePills</span>, c'est l'assurance de ne plus louper ses traitements !</h4>
        </div>
    </div>
    {{ form_start(formInscription, {'attr': {'class': 'center basic-form'}}) }}
    <div>
        <div class="inputbox">
            {{ form_widget(formInscription.prenom, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="prenom">Prénom</label>
            <img class="success" src="{{ asset('img/success.png') }}" alt="">
            <img class="error" src="{{ asset('img/danger.png') }}" alt="">
        </div>
        <p class="help-input-form">Entre 4 et 50 caractères.</p>
    </div>
    <div>
        <div class="inputbox">
            {{ form_widget(formInscription.adresseMail, {'attr': {'class': 'input', 'placeholder': ' ', 'id': 'adresseMail'}}) }}
            {# {{ form_label(formInscription.adresseEmail) }} #}
            <label for="adresseMail">Adresse Email</label>
            <img class="success" src="{{ asset('img/success.png') }}" alt="">
            <img class="error" src="{{ asset('img/danger.png') }}" alt="">
        </div>
        <p class="help-input-form">Adresse email valide.</p>
    </div>
    <div>
        <div class="inputbox">
            {{ form_widget(formInscription.plainPassword, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="plainPassword">Mot de passe</label>
            {# {{ form_label(formInscription.plainPassword) }} #}
            <img class="success" src="{{ asset('img/success.png') }}" alt="">
            <img class="error" src="{{ asset('img/danger.png') }}" alt="">
        </div>
        <p class="help-input-form">Entre 8 et 30 caractères, au moins une minuscule, une majuscule et un nombre.</p>
    </div>

    <div class="wrapSubmit">
        {{ form_widget(formInscription.inscription, {'label':'S\'inscrire', 'attr': {'class': 'submit'}}) }}
    </div>
    {{ form_rest(formInscription) }}
    {{ form_end(formInscription) }}
{% endblock %}