{% extends 'base.html.twig' %}

{% block page_title %}
    TimePills | Accueil
{% endblock %}

{% block cssSupplementaire %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/accueil.css') }}">{% endblock %}

{% block page_content %}
    <h1 class="onglet1">Accueil</h1>

    <div class="wrapTop">
        <img src="{{ asset('img/welcome.png') }}" alt="illustration d'accueil">

        <div>
            {% if not is_granted('ROLE_USER') %}
                <h2>Bonjour 👋 !</h2>
                <h3>Bienvenue sur <span class="redText">TimePills</span>, l'outil de suivi pour vos médicaments du
                    quotidien !
                </h3>
                <h4 class="light"><a href="" class="redText"><span></span>Connectez-vous</a> ou <a href=""
                                                                                                   class="redText"><span></span>créez
                        un compte</a> pour accéder à votre espace !</h4>
            {% else %}
                <h2>Bonjour, <span class="redText">{{ app.user.prenom }}</span> 👋 !</h2>
                <h4 class="light">Vous pouvez accéder à votre espace personnel, et <span class="redText">gérer vos médicaments</span>,
                    pour savoir quand les prendre !</h4>
            {% endif %}
        </div>
    </div>

    <div class="wrapAccueil">

        {% if not is_granted('ROLE_USER') %}
            <div class="elementAccueil">
                <img src="{{ asset('img/notification.png') }}" alt="">
                <div>
                    <h3 class="light redText">Notifications</h3>
                    <p>Recevez des <span class="redText">rappels</span> de <span class="redText">notifications</span>
                        pour
                        ne plus oublier de prendre vos médicaments !</p>
                </div>
            </div>
            <div class="elementAccueil">
                <img src="{{ asset('img/programme.png') }}" alt="">
                <div>
                    <h3 class="light redText">Calendrier</h3>
                    <p><span class="redText">Programmez</span> votre calendrier pour vos <span
                                class="redText">médicaments</span> ponctuels, y compris vos pauses.</p>
                </div>
            </div>
            <div class="elementAccueil">
                <img src="{{ asset('img/pilules.png') }}" alt="">
                <div>
                    <h3 class="light redText">Paramétrage</h3>
                    <p><span class="redText">Paramétrez</span> votre <span class="redText">heure</span> de prise pour
                        rester
                        le plus précis que possible !</p>
                </div>
            </div>

        {% else %}
            <div class="elementAccueil">
                <img src="{{ asset('img/notification.png') }}" alt="">
                <div>
                    <h3 class="light redText">Prochaine notifications</h3>
                    <p>Prochaine notification de <span class="redText">rappel</span> à <span class="redText">22h</span> !</p>
                </div>
            </div>
            <div class="elementAccueil">
                <img src="{{ asset('img/programme.png') }}" alt="">
                <div>
                    <h3 class="light redText">Calendrier</h3>
                    <p>Votre prochaine <span class="redText">pause</span> sera dans <span
                                class="redText">22</span> jours</p>
                </div>
            </div>
            <div class="elementAccueil">
                <img src="{{ asset('img/pilules.png') }}" alt="">
                <div>
                    <h3 class="light redText">Mes médicaments</h3>
                    <p>Vous avez <span class="redText">1</span> médicament.<br><span class="redText">Ajoutez</span> d'autres médicaments.</p>
                </div>
            </div>
        {% endif %}


    </div>

{% endblock %}