<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
    {% block cssSupplementaire %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
    <script defer src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script defer src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('js/messagesFlash.js') }}" defer></script>
    {% block jsSupplementaire %}{% endblock %}
</head>


<body>


{% for message in app.flashes('success') %}
    <script> document.addEventListener('DOMContentLoaded', function () {
            afficherMessageFlash('{{ message }}', 'success')
        });</script>
{% endfor %}

{% for message in app.flashes('warning') %}
    <script> document.addEventListener('DOMContentLoaded', function () {
            afficherMessageFlash('{{ message }}', 'warning')
        });</script>
{% endfor %}

{% for message in app.flashes('error') %}
    <script> document.addEventListener('DOMContentLoaded', function () {
            afficherMessageFlash('{{ message }}', 'danger')
        });</script>
{% endfor %}

{% for message in app.flashes('info') %}
    <script> document.addEventListener('DOMContentLoaded', function () {
            afficherMessageFlash('{{ message }}', 'info')
        });</script>
{% endfor %}


<div class="other">
    {% block page_content %}
    {% endblock %}
</div>


</body>
</html>