{% extends 'base.html.twig' %}

{% block page_title %}
    TimePills | Créer un médicament
{% endblock %}

{% block cssSupplementaire %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/creerPilule.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/formulaires.css') }}">{% endblock %}
{% block jsSupplementaire %}
    <script defer type="text/javascript" src="{{ asset('js/creerMedicament.js') }}"></script>
{% endblock %}

{% block page_content %}
    <h1 class="onglet1">Créer un médicament</h1>

    <div class="wrapTop">
        <img class="illu" src="{{ asset('img/medicaments.png') }}" alt="">

        <div>
            <h2 class="redText">Gérez vos médicaments 💊</h2>
            <h2>Ajoutez et gérez vos <span class="redText">médicaments</span> pour ne plus oublier de les prendre !
            </h2>
            <h4 class="light">Profitez du <span class="redText">calendrier</span> pour organiser vos prises de
                traitements.</h4>
        </div>
    </div>

    {{ form_start(formPilule, {'attr': {'class': 'center basic-form'}}) }}

    <div>
        <div class="inputbox">
            {{ form_widget(formPilule.libelle, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="libelle">Description</label>
        </div>
        <p class="help-input-form">Entre 4 et 50 caractères.</p>
    </div>
    <div>
        <div class="inputbox small">
            {{ form_widget(formPilule.heureDePrise, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="heureDePrise">Heure de prise</label>
        </div>
        <p class="help-input-form">Heure de prise habituelle du médicament.</p>
    </div>
    <div>
        <div class="inputbox small">
            {{ form_widget(formPilule.tempsMaxi, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="tempsMaxi">Délai maximal</label>
        </div>
        <p class="help-input-form">Délai maximal</p>
    </div>

    <div class="wrapSwitch">
        <label for="avecPause">Traitement devant être pris avec des pauses d'au moins un jour :</label>
        <input type="checkbox" id="avecPause" name="avecPause" class="switch" oninput="changerDisplayAvecPause()">
    </div>

    <div class="avecPause">
        <div class="inputbox small">
            {{ form_widget(formPilule.nbPilulesPlaquette, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="nbPilulesPlaquette">Nombre de pilules</label>
        </div>
        <p class="help-input-form">Nombre de pilules dans une plaquette, devant être pris entre chaque pause.</p>
    </div>

    <div class="avecPause">
        <div class="inputbox small">
            {{ form_widget(formPilule.nbJoursPause, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="nbJoursPause">Durée de pause</label>
        </div>
        <p class="help-input-form">Nombre de jours de pause à respecter pour chaque pause.</p>
    </div>

    <div class="avecPause">
        <div class="inputbox small">
            {{ form_widget(formPilule.dateDerniereReprise, {'attr': {'class': 'input', 'placeholder': ' '}}) }}
            <label for="dateDerniereReprise">Dernière reprise</label>
        </div>
        <p class="help-input-form">Date de la dernière reprise du traitement après la dernière pause.</p>
    </div>


    <div class="wrapSubmit">
        {{ form_widget(formPilule.creation, {'label':'Enregistrer', 'attr': {'class': 'submit'}}) }}
    </div>

    {{ form_rest(formPilule) }}
    {{ form_end(formPilule) }}

{% endblock %}
